
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Eskişehir Osmangazi Üniversitesi</h2>
<h3>Sivrihisar Meslek Yüksekokulu</h3>
<br />
<br />

<img src="~/image/smyo.jpg" />

